@font-face{
			font-family:'Remachine Script Personal Use';
			src: url('RemachineScript_Personal_Use.ttf')  format('truetype');
		}


body {
		background-color:#303030;
		background-image:url(00046_1024.jpg);
		background-size:cover;
		background-repeat:none;
	}
	#tint{
		position:absolute;
		top:0px;
		left:0px;
		background-color:black;
		height:100%;
		width:100%;
		opacity:0.7;
	
	}
	
	#dp {
		position:absolute;
		top:50px;
		left:0px;
		height:200px;
		width:200px;
		border-radius:100px;
	}
	#Name {
		position:absolute;
		top:+100px;
		left:300px;
		font-size:100px;
		font-family:Remachine Script Personal Use;
		color:WHITE;
		font-weight:bold;
	}
	#title {
		font-size:50px;
		font-weight:100;
	
	}
	#content {
		position:absolute;
		top:275px;
		left:50px;
		font-family:Comic Sans MS;
		color:white;
		font-size:25px;
		font-weight:100;
	}
	#contact{
		position:absolute;
		bottom:0px;
		left:0px;
		height:40px;
		width:100%;
		font-family:Remachine Script Personal Use;
	}
	#contactText{
		position:absolute;
		left:50px;
		text-decoration:underline;
		font-size:35px;
		color:white;
	}
	a {
		color:white;
		font-style:italic;
	}
	#myForm{
		position:absolute;
		opacity:0;
	}
	.formelement{
		position:relative;
		left:50px;
		margin-top:10px;
		font-family:Comic Sans MS;
		color:white;
		font-size:25px;
		font-weight:100;
	
	}
	#name,#comment{
		position:relative;
		left:5px;
		font-family:Comic Sans MS;
		font-size:20px;
		font-weight:100;
	
	}
	#okButton{
		position:relative;
		left:50px;
		text-align:center;
		margin-top:10px;
		font-family:Comic Sans MS;
		color:black;
		font-size:20px;
		font-weight:100;
		background-color:white;
		width:80px;
		height:40px;
		border-radius:10px;
	}
	